name: renovate-config

"on":
  push:
    paths:
      - 'default.json'
    branches:
      - main
  pull_request:
    paths:
      - 'default.json'
  workflow_dispatch:

jobs:
  validate:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
      - uses: actions/setup-node@1a4442cacd436585916779262731d5b162bc6ec7 # v3
      - run: npx --package renovate -c 'renovate-config-validator'
      - run: npx --package renovate -c 'renovate-config-validator default.json'